body{
    background-color: #D5D8DC ; 
}
#mainContainer{
    margin-top:2%;
    margin-left:10%;
    margin-right: 10%;
    background-color:rgba(255,255, 255, 1) ; 
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}
.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
